#about {
    flex-grow: 1;
    font-family: "Mozilla Headline", sans-serif;
    max-width: 700px;
    margin-inline: auto;
}

#about h1 {
    background-color: #6211F5;
    color: #F5EA12;
    width: fit-content;
}

#about p {
    font-size: 1.2rem;
}