.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 250px;
    background-color: #8e51ff;
    gap: 32px;
    font-family: "Mozilla Headline", sans-serif;
    color: #F5EA12;
    margin-top: 128px;
}

.footer > div {
    display: flex;
    align-items: center;
    gap: 116px;
}

.footer img {
    height: 150px;
}

.footer ul {
    padding: 0;
}

.footer li {
    list-style: none;
    font-size: 2rem;
    cursor: pointer;

    a {
        color: #F5EA12 !important;
    }
}

.footer li a:hover {
    color: #B5AF3A !important;
}

.footer span {
    display: flex;
    gap: 8px;
}

@media (max-width: 600px) {
    .footer {
        padding-block: 24px;
    }

    .footer > div {
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 24px;
    }
}