#home {
    background: radial-gradient(circle at 50% 50%, #3D0000, #000000);
}

/*--- Hero Start ---*/
#home-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    gap: 80px;
}

#home-text {
    font-family: Roboto, sans-serif;

    h1 {
        position: relative;
        font-weight: 800;
        color: #fff;
        margin-bottom: 8px;
        font-size: 4rem;
    }

    h1::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 8px;
        top: 5px;
        height: 80px;
        background-color: #ff5e5e;
        margin-left: 8px;
        animation: cursor 1.5s infinite steps(2);
    }

    h2 {
        color: #ff5e5e;
        margin: 0;
        font-size: 1.3rem;
        font-weight: 100;
    }

    button {
        border: 0;
        font-family: Roboto, sans-serif;
        font-size: 0.9rem;
        padding: 12px;
        border-radius: 4px;
        background-color: transparent;
        color: #ff5e5e;
        background-color: #fff;
        margin-top: 32px;
        cursor: pointer;
        font-weight: 700;
        transition: all 150ms;
    }

    button:hover {
        background-color: #ff5e5e;
        color: #fff;
    }
}

@keyframes cursor {
    from {opacity: 0;}
}

#home-img {
    position: relative;
    animation: fade-in 500ms ease-in forwards;

    img {
        position: relative;
        height: 650px;
        background-color: transparent;
    }
}

#img-slider {
    position: absolute;
    top: 12.5%;
    left: 15%;
    width: 150px;
    height: 150px;
    perspective: 1000px;
}

#carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: carousel 16s ease-in-out infinite;

    svg {
        position: absolute;
        fill: #fff;
        backface-visibility: hidden;
    }

    svg:nth-child(1) {transform: rotateY(0deg) translateZ(100px);}
    svg:nth-child(2) {transform: rotateY(90deg) translateZ(100px);}
    svg:nth-child(3) {transform: rotateY(180deg) translateZ(100px);}
    svg:nth-child(4) {transform: rotateY(270deg) translateZ(100px);}
}

@keyframes carousel {
    0% {transform: translateZ(-100px) rotateY(5deg);}
    2%, 20% {transform: translateZ(-100px) rotateY(0deg);}

    25% {transform: translateZ(-100px) rotateY(95deg);}
    27%, 45% {transform: translateZ(-100px) rotateY(90deg);}

    50% {transform: translateZ(-100px) rotateY(185deg);}
    52%, 70% {transform: translateZ(-100px) rotateY(180deg);}

    75% {transform: translateZ(-100px) rotateY(275deg);}
    77%, 95% {transform: translateZ(-100px) rotateY(270deg);}
    
    100% {transform: translateZ(-100px) rotateY(365deg);}
}

@keyframes carousel-500px {
    0% {transform: translateZ(-40px) rotateY(2deg);}
    2%, 20% {transform: translateZ(-40px) rotateY(0deg);}

    25% {transform: translateZ(-40px) rotateY(92deg);}
    27%, 45% {transform: translateZ(-40px) rotateY(90deg);}

    50% {transform: translateZ(-40px) rotateY(182deg);}
    52%, 70% {transform: translateZ(-40px) rotateY(180deg);}

    75% {transform: translateZ(-40px) rotateY(272deg);}
    77%, 95% {transform: translateZ(-40px) rotateY(270deg);}
    
    100% {transform: translateZ(-40px) rotateY(362deg);}
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 1300px) {
    #home-hero {
        flex-direction: column-reverse;
        padding-block: 64px;
        gap: 18px;
    }

    #home-text {
        h1 {
            font-size: 3rem;
        }

        h1::after {
            height: 60px;
        }

        h2 {
            font-size: 1.1rem;
        }
    }

    #home-img img {
        height: 450px;
    }

    #img-slider {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 500px) {
    #home-hero {
        flex-direction: column-reverse;
        padding-block: 64px;
        gap: 18px;
    }

    #home-text {
        h1 {
            font-size: 2.2rem;
        }

        h1::after {
            height: 40px;
        }

        h2 {
            font-size: 0.9rem;
        }
    }

    #home-img img {
        height: 300px;
    }

    #img-slider {
        width: 70px;
        height: 70px;
    }

    #carousel {
        animation: carousel-500px 16s ease-in-out infinite;

        svg:nth-child(1) {transform: rotateY(0deg) translateZ(40px);}
        svg:nth-child(2) {transform: rotateY(90deg) translateZ(40px);}
        svg:nth-child(3) {transform: rotateY(180deg) translateZ(40px);}
        svg:nth-child(4) {transform: rotateY(270deg) translateZ(40px);}
    }
}
/*--- Hero End ---*/

/*--- About Start ---*/
#home-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto, sans-serif;
    color: #fff;
    margin-inline: 48px;
    margin-block: 32px;

    h1 {
        width: fit-content;
        font-size: 2.5rem;
        font-weight: 800;
        border-bottom: 4px solid #ff5e5e;
    }
}

#home-about-desc {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-inline: auto;
    max-width: 900px;

    h2 {
        font-size: 2rem;
        border-top: 4px solid #ff5e5e;
        width: fit-content;
        font-weight: 800;
    }
}

.home-desc-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: radial-gradient(circle at top left, #ff7a7a 5%, #ff5e5e);
    padding-inline: 24px;
    padding-block: 12px;
    box-shadow: -8px -8px #fff;
    margin-right: 48px;
    
    svg {
        width: 500px;
    }
}

.home-desc-entry:nth-child(3) {
    background: radial-gradient(circle at top left, rgb(241, 241, 241), #fff);
    color: #ff5e5e;
    box-shadow: -8px -8px #ff5e5e;
    margin-left: 48px;
    margin-right: 0px;
}

#home-about-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 12px;
    margin-block: 12px;

    > img {
        max-width: 900px;
    }
}

.image-active {
    outline: 3px solid #ff5e5e;
    box-shadow: 2px 2px 5px 5px #ff5e5e80;
}

#home-about-images-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;

    img {
        height: 175px;
        width: auto;
        cursor: pointer;
    }

    img:hover:not(.image-active) {
        outline: 1px solid #fff;
    }
}

@media (max-width: 1650px) {
    #home-about-images {
        > img {
            width: 800px;
        }
    }

    #home-about-images-select {
        gap: 4px;

        img {
            height: 125px
        }
    }
}

@media (max-width: 1350px) {
    #home-about-images {
        flex-direction: column;
        height: auto;

        >img {
            width: 100%;
        }
    }

    #home-about-images-select {
        img {
            height: 70px
        }
    }
}

@media (max-width: 900px) {
    #home-about {
        h1 {
            font-size: 2rem;
        }
    }

    #home-about-images-select {
        img {
            height: 70px
        }
    }
}

@media (max-width: 800px) {
    #home-about {
        margin-inline: 0;
        width: 100%;

        h1 {
            margin-inline: 16px;
        }
    }

    #home-about-desc {
        h2 {
            margin-inline: 16px;
        }
    }

    .home-desc-entry {
        flex-direction: column;
        margin: 0;
        gap: 0;
        align-items: start;

        svg {
            width: 100px;
        }
    }

    .home-desc-entry:nth-child(3) {
        flex-direction: column-reverse;
        margin: 0;
    }
}

@media (max-width: 700px) {
    #home-about-images-select {
        img {
            height: 50px
        }
    }
}

@media (max-width: 500px) {
    #home-about {
        h1 {
            font-size: 1.7rem;
        }
    }

    #home-about-desc {
        h2 {
            font-size: 1.5rem;
        }
    }
}
/*--- About End ---*/

/*--- Reviews Start ---*/
#home-reviews {
    font-family: Roboto, sans-serif;
    color: #fff;
    margin-inline: 48px;
}

#home-reviews-h1 {
    display: flex;
    justify-content: end;

    h1 {
        font-weight: 800;
        border-bottom: 4px solid #ff5e5e;
        width: fit-content;
        font-size: 2.5rem;
    }
}

#home-reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-block: 32px;
    gap: 32px;
}

.review-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 325px;
    height: fit-content;
    padding-inline: 16px;
    padding-block: 32px;
    box-sizing: border-box;
    background: radial-gradient(circle at top left, #ff7676 40%, #ff7878);
    box-shadow: 6px -6px #fff;
    transition: scale 250ms;
}

.review-card:hover {
    scale: 110%;
}

.card-desc {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    font-style: italic;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;

    p {
        font-size: 1.4rem;
        font-weight: 900;
        margin-top: 12px;
    }

    img {
        height: 150px;
        border-radius: 999px;
        box-shadow: 4px 4px #fff;
    }
}

@media (max-width: 900px) {
    #home-reviews-h1 {
        h1 {
            font-size: 2rem;
        }
    }

    #home-reviews {
        font-family: Roboto, sans-serif;
        color: #fff;
    }
}

@media (max-width: 500px) {
    #home-reviews {
        margin-inline: 0;
    }

    #home-reviews-h1 {
        h1 {
            font-size: 1.7rem;
            margin-inline: 16px;
        }
    }

    .review-card {
        width: 100%;
    }
}
/*--- Reviews End ---*/

#home-call-to-action {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    color: #fff;
    margin-block: 128px;

    p {
        font-weight: 900;
        font-size: 3rem;
        margin-bottom: 0;
    }

    button {
        border: 0;
        font-family: Roboto, sans-serif;
        font-size: 1.5rem;
        padding: 24px;
        border-radius: 4px;
        background-color: transparent;
        color: #ff5e5e;
        background-color: #fff;
        margin-top: 32px;
        cursor: pointer;
        font-weight: 700;
        transition: all 150ms;
    }

    button:hover {
        background-color: #ff5e5e;
        color: #fff;
    }
}

@media (max-width: 600px) {
    #home-call-to-action {
        p {
            font-size: 2rem;
        }

        button {
            font-size: 1.2rem;
            padding: 16px;
        }
    }
}

@media (max-width: 400px) {
    #home-call-to-action {
        p {
            font-size: 1.8rem;
        }

        button {
            font-size: 1.2rem;
            padding: 12px;
        }
    }
}