.gallery_hero {
    display: flex;
    align-items: center;
    font-family: "Mozilla Headline", sans-serif;
    background-color: #8e51ff;
    color: #fff;
    padding: 48px;
}

.hero_text h1, .hero_text h2 {
    margin: 0;
}

.hero_text a {
    color: #fff;
    text-decoration: underline;
}

.hero_text a:hover {
    color: #d8d8d8;
}

@media (max-width: 500px) {
    .gallery_hero {
        padding: 16px;
        padding-block: 48px;
    }

    .hero_text h1 {
        font-size: 1.7rem;
    }

    .hero_text h2 {
        font-size: 1.3rem;
    }

    .hero_text p {
        font-size: 0.9rem;
    }
}

@keyframes arrow-down {
    from {
        transform: translateY(0px);
    }
    5% {
        transform: translateY(24px);
    }
    10%, to {
        transform: translateY(0px);
    }
}