#login {
    min-height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mozilla Headline", sans-serif;
}

#form-wrapper {
    display: flex;
    align-items: center;
    gap: 48px;
    background-color: #6211F5;
    padding: 48px;
    margin-inline: 24px;
    box-shadow: 8px 8px 2px #B5AF3A;
    color: #F5E911;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form span {
    font-size: 2rem;
}

#login-form button {
    font-family: inherit;
    margin-top: 48px;
    background: none;
    border: 0;
    color: #F5E911 !important;
    font-size: 1.5rem;
    cursor: pointer;
    background-size: 210% 100%;
    background-image: linear-gradient(to right, #6211F5 50%, #F5E911 50%);
    transition: all 200ms ease-in;
    max-width: 80%;
}

#login-form button:hover {
    color: #6211F5 !important;
    background-position: 100% 0%;
}

#form-links {
    display: flex;
    gap: 12px;
}

#form-links a {
    display: flex;
    margin-top: 12px;
    text-align: center;
    color: #F5E911;
    text-decoration: underline;
    font-size: 0.85rem;
}

#form-links a:hover {
    color: #B5AF3A;
}

#form-check {
    margin-top: 12px;
}

#form-check input[type="checkbox"] {
    accent-color: #F5E911;
}

#login-right {
    position: relative;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #F5E911;
    padding-left: 48px;
}

#login-right img {
    height: 250px;
}

#login-right p {
    text-align: right;
    font-size: 1.1rem;
}

@media (max-width: 800px) {
    #form-wrapper {
        margin-top: 64px;
        flex-direction: column-reverse;
        gap: 24px;
    }

    #login-form span {
        display: none;
    }

    #login-right {
        border-left: 0;
        padding-left: 0;
    }

    #login-right img {
        height: 200px;
    }
}

@media (max-width: 450px) {
    #form-wrapper {
        background-color: transparent;
        box-shadow: none;
        margin-inline: 0;
        padding-inline: 24px;
    }

    #login-form {
        align-items: center;
        background-color: #6211F5;
        padding: 16px;
    }

    #login-right {
        border-left: 0;
        padding-left: 0;
        background-color: #6211F5;
        padding: 24px;
        padding-inline: 32px;
    }

    #login-right img {
        height: 150px;
    }

    #login-right p {
        margin-bottom: 0;
    }

    #form-links {
        margin-top: 24px;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
}