@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.product {
    position: relative;
    max-width: 320px;
    width: 100%;
    padding: 12px;
    box-shadow: 4px 4px 12px 2px #adadad;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    animation: pop-in 100ms linear forwards;
}

.product img {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgba(97, 17, 245, 0.30);
}

.product p {
    font-family: "Knewave", system-ui;
    font-size: 1.1rem;
    color: black;
    overflow: hidden;
    text-align: center;
    text-wrap: nowrap;
    margin: 0;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(-45deg, #DDDDDD, #F5E911, #DDDDDD, #F5E911);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

@media (max-width: 750px) {
    .product {
        max-width: 200px;
    }
}

@media (max-width: 575px) {
    .product {
        max-width: 150px;
    }

    .product p {
        font-size: 0.8rem;
    }
}

@media (max-width: 425px) {
    .product {
        max-width: 120px;
    }

    .product p {
        font-size: 0.8rem;
    }
}

@media (max-width: 375px) {
    .product {
        max-width: 100px;
    }
}

@keyframes pop-in {
    from {
        opacity: 0;
        scale: 75%;
    }
    75% {
        scale: 110%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}