#GALLERY{
    #profile-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        margin-top: 64px;
        font-family: "Mozilla Headline", sans-serif;
    }
    
    #profile-content-name {
        font-size: 2.3rem;
        margin-left: 64px;
        background-color: #6211F5;
        color: #F5E911;
        width: fit-content;
        padding: 2px;
    }
    
    #profile-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }
    
    @media (max-width: 500px) {
        #profile-content-name {
            font-size: 2rem;
            margin-left: 0;
            text-align: center;
        }
    }
}