#home-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto, sans-serif;
    color: #fff;
    margin-inline: 48px;
    margin-block: 32px;

    h1 {
        width: fit-content;
        font-size: 2.5rem;
        font-weight: 800;
        border-bottom: 4px solid #ff5e5e;
    }
}

#home-about-desc {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-inline: auto;
    max-width: 900px;

    h2 {
        font-size: 2rem;
        border-top: 4px solid #ff5e5e;
        width: fit-content;
        font-weight: 800;
    }
}

.home-desc-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: radial-gradient(circle at top left, #ff7a7a 5%, #ff5e5e);
    padding-inline: 24px;
    padding-block: 12px;
    box-shadow: -8px -8px #fff;
    margin-right: 48px;
    
    svg {
        width: 500px;
    }
}

.home-desc-entry:nth-child(3) {
    background: radial-gradient(circle at top left, rgb(241, 241, 241), #fff);
    color: #ff5e5e;
    box-shadow: -8px -8px #ff5e5e;
    margin-left: 48px;
    margin-right: 0px;
}

#home-about-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 12px;
    margin-block: 12px;

    > img {
        max-width: 900px;
    }
}

.image-active {
    outline: 3px solid #ff5e5e;
    box-shadow: 2px 2px 5px 5px #ff5e5e80;
}

#home-about-images-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;

    img {
        height: 175px;
        width: auto;
        cursor: pointer;
    }

    img:hover:not(.image-active) {
        outline: 1px solid #fff;
    }
}

@media (max-width: 1650px) {
    #home-about-images {
        > img {
            width: 800px;
        }
    }

    #home-about-images-select {
        gap: 4px;

        img {
            height: 125px
        }
    }
}

@media (max-width: 1350px) {
    #home-about-images {
        flex-direction: column;
        height: auto;

        >img {
            width: 100%;
        }
    }

    #home-about-images-select {
        img {
            height: 70px
        }
    }
}

@media (max-width: 900px) {
    #home-about {
        h1 {
            font-size: 2rem;
        }
    }

    #home-about-images-select {
        img {
            height: 70px
        }
    }
}

@media (max-width: 800px) {
    #home-about {
        margin-inline: 0;
        width: 100%;

        h1 {
            margin-inline: 16px;
        }
    }

    #home-about-desc {
        h2 {
            margin-inline: 16px;
        }
    }

    .home-desc-entry {
        flex-direction: column;
        margin: 0;
        gap: 0;
        align-items: start;

        svg {
            width: 100px;
        }
    }

    .home-desc-entry:nth-child(3) {
        flex-direction: column-reverse;
        margin: 0;
    }
}

@media (max-width: 700px) {
    #home-about-images-select {
        img {
            height: 50px
        }
    }
}

@media (max-width: 500px) {
    #home-about {
        h1 {
            font-size: 1.7rem;
        }
    }

    #home-about-desc {
        h2 {
            font-size: 1.5rem;
        }
    }
}